<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>coronavirus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1AD4F0902443A2BE00F86D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AD4F0A42443A2BE00F86D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AD4F0AF2443A2BE00F86D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
